body {
    font-family: sans-serif;
    background: #fff;
    background-image: url('media/Background\ Webpage\ LMNOP.svg');
    /* Passe den Dateinamen ggf. an */
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: top center;
    margin: 0;
    padding: 2rem;
    color: #222;
    display: flex;
    flex-direction: column;
}

.topicSection {
    position: relative;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 50vh;
}

/* Titel */
.topicTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heroArticle {
    background: #0A4708;
    color: #fff;
    padding: 2rem;
    text-align: center;

    position: relative;
    width: 70%;
    aspect-ratio: 7 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.sideArticle {
    --side: left;
    --y: 0px;
    --rot: 0deg;
    position: absolute;
    top: 50%;
    left: var(--posX, 0%);
    transform: translate(-50%, calc(-50% + var(--y))) rotate(var(--rot));
    width: 25%;
    aspect-ratio: 2/3;
    background: #F3C4F7;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Flexbox für Bottom-Artikel */
.sideArticlesBottomBox {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 70%;
    /* gleiche Breite wie .heroArticle */
    display: flex;
    justify-content: space-evenly;
    /* gleichmäßig verteilen */
    align-items: flex-end;
    gap: 1rem;
}

.sideArticleBottom {
    /* Positionierung entfernen, Flexbox übernimmt */
    flex: 1;
    max-width: 25%;
    /* optional, verhindert Überbreite */
    aspect-ratio: 2/3;
    background: #d1733c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}