/* ================================
   GLOBALS – Grundlayout der Seite
   ================================ */
body {
    font-family: sans-serif;
    background-color: #fff;

    /* Hintergrundbild oben zentriert, darf sich wiederholen falls nötig */
    background-image: url('media/Background Webpage LMNOP.svg');
    background-repeat: repeat-y;
    background-size: 100vw auto;
    background-position: top center;

    margin: 0;
    padding: 2rem;

    /* Inhalt vertikal anordnen */
    display: flex;
    flex-direction: column;
}

/* ================================
   SECTION – Thematische Container
   ================================ */
.topicSection {
    position: relative;
    width: 80vw;
    max-width: 700px;
    margin: 6vh auto;
    /* zentriert und vertikale Abstände */
    margin-bottom: 40vw;
    height: auto;
}

/* ================================
   TITEL – Überschrift eines Abschnitts
   ================================ */
.topicTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* ================================
   HERO – Zentrale Hauptfläche
   ================================ */
.heroArticle {
    position: relative;
    /* für absolute Positionierung der sideArticles */
    width: 100%;
    aspect-ratio: 7 / 4;
    padding: 1rem;

    background: #0A4708;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    box-sizing: border-box;

    /* wichtige Voraussetzung für sichtbare sideArticles */
    overflow: visible;
}

/* ================================
   SIDE-ARTICLES – Zusätzliche Inhalte
   ================================ */

/* Mobile-Version: Articles unter dem Hero zentriert und leicht überlappend */
.sideArticle {
    position: absolute;
    /* relativ zur heroArticle */
    top: 100%;
    /* unterhalb des Hero */
    left: 50%;
    /* mittig ausrichten */
    transform: translate(-110%, -20%) rotate(var(--rot, 0deg));
    /* leicht links verschoben und überlappend (nach oben gezogen) */

    width: 30%;
    max-width: 180px;
    aspect-ratio: 2 / 3;

    background: #F3C4F7;
    border: none;
    padding: 1rem;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* Zweites SideArticle bekommt eigene Transformation */
.sideArticle:nth-of-type(2) {
    transform: translate(10%, -20%) rotate(var(--rot, 0deg));
    /* leicht rechts, selbe Überlappung */
}

/* ================================
  Menü
   ================================ */
menu {
    display: none;
    position: fixed;
    top: 40vh;
    left: 0;
    width: 25%;
    z-index: 1000;
}

.menuItem{
display: flex;
width: max-content;
padding: 0rem 1rem;
margin-bottom: 10px;
color: black;
font-variant: ;

}

.menuItem:hover {
    background-color: #F3C4F7;
    
}

.menuItem a {
    color: inherit;
    text-decoration: none;
}

.menuItem a:visited {
    color: inherit;
    text-decoration: none;
}

/* ================================
   DESKTOP-ANPASSUNG – Ab 900px
   ================================ */
@media (min-width: 900px) {
    .topicSection {
        width: 70vw;
        max-width: none;
        margin: 20vh auto;
    }

    menu {
        display: block;
        padding: 1rem 2rem;
    }

    .heroArticle {
        width: 70%;
        padding: 2rem;
    }

    .sideArticle {
        /* Positionierung über CSS-Variablen für flexible Gestaltung */
        top: 50%;
        left: var(--posX, 0%);
        transform: translate(-50%, calc(-50% + var(--y, 0px))) rotate(var(--rot, 0deg));

        width: 25%;
        max-width: none;
        margin: 0;
    }
}