/* ================================
   SECTION – Thematische Container
   ================================ */
.topicSection {
    position: relative;
    width: 80vw;
    max-width: 700px;
    margin: auto;
    margin-bottom: 40vw;
    height: auto;
}

/* ================================
   TITEL – Überschrift eines Abschnitts
   ================================ */
.topicTitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "cheee-jimbo", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

/* ================================
   HERO – Zentrale Hauptfläche
   ================================ */
.heroArticle {
    position: relative;
    width: 100%;
    aspect-ratio: 7 / 4;
    padding: 1rem;

    background: #0A4708;
    color: #fff;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin: 0 auto;
    box-sizing: border-box;
    overflow: visible;
}

/* ================================
   SIDE-ARTICLES – Zusätzliche Inhalte
   ================================ */
.sideArticle {
    position: absolute;
    top: 100%;
    
    /* Standardwerte für CSS-Variablen */
    --posX: -110%;
    --posY: -20%;
    
    transform: translate(var(--posX), calc(var(--posY) + var(--y, 0px))) rotate(var(--rot, 0deg));

    width: 30%;
    max-width: 180px;
    aspect-ratio: 2 / 3;

    background: #F3C4F7;
    border: solid 4px #000;
    padding: 1rem;
    margin: 0;

    display: flex;
    align-content: flex-end;
    justify-content: flex-start;

    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    z-index: 2;
    
    text-decoration: none;
    color: inherit;
}

/* Erstes SideArticle - links von Hero */
.sideArticle:nth-of-type(1) {
    left: 0;
    --posX: -10%;
}

/* Zweites SideArticle - rechts von Hero */
.sideArticle:nth-of-type(2) {
    left: 100%;
    --posX: -90%;
}

/* Mit Hintergrundbild */
.sideArticle.hasImage {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

/* Weißer transparenter Overlay für besseren Kontrast */
.sideArticle.hasImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

/* Text-Styling */
.sideArticleText {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.4;
    text-align: left;
    color: black;
    position: relative;
    z-index: 2;
}

/* ================================
  Menü Index-Seite
   ================================ */
.menuIndex {
    display: none;
    position: fixed;
    bottom: 10vh;
    width: 25%;
    z-index: 1000;
    align-items: flex-start;
    padding-left: 0;
    left: 0;
}

.menuIndexItem {
    display: flex;
    width: max-content;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0px;
    color: black;
    font-weight: 700;
    font-size: 2rem;
}

.menuIndexItem:hover {
    background-color: #F3C4F7;
}

.menuIndexItem a {
    color: inherit;
    text-decoration: none;
}

.menuIndexItem a:visited {
    color: inherit;
    text-decoration: none;
}
