@import "home.css";
@import "aboutus.css";
@import "article.css";
@import "overview.css";

/* ================================
   GLOBALS – Grundlayout der Seite
   ================================ */
body {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;

    /* Hintergrundbild oben zentriert, darf sich wiederholen falls nötig */
    background-image: url('../media/Background\ Webpage\ LMNOP.svg');
    background-repeat: repeat-y;
    background-size: 100vw auto;
    background-position: top center;

    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Inhalt vertikal anordnen */
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

main {
    padding: 0 2rem 2rem 2rem;
}


p {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    color: #0A4708;
    max-width: 100%;
}

h6 {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
    color: #F3C4F7;
}

/* ================================
   Header 
   ================================ */
header {
    display: flex;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    padding: 2rem;
}

.logoBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logoBarText {
    display: none;
    min-width: 35%;
    aspect-ratio: default;
    aspect-ratio: 10 / 1;
    height: auto;
    object-fit: contain;
}

#headerLogo {
    height: auto;
    width: 100%;
    min-width: 30vw;
    margin: 0 auto;
    display: block;
}


#headerMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 1rem 0 0;
    list-style: none;
}

.headerMenuItem {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #0A4708;
    text-decoration: none;
}



/* ================================
   FOOTER – Seitenende
   ================================ */
footer {
    margin-top: 4rem;
    text-align: center;
    font-size: 0.8rem;
    background-color: #0A4708;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #acacac;
    padding-top: 20px;
}


#footerLogo {
    height: auto;
    width: 75%;
    max-width: 200px;
    margin: 0 auto 1rem auto;
}



/* ================================
   DESKTOP-ANPASSUNG – Ab 900px
   ================================ */
@media (min-width: 900px) {

    .logoBarText {
        display: flex;
    }

    .teamMemberList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .topicSection {
        width: 70vw;
        max-width: none;
        margin: 0vh auto 10vh auto;
    }

    .menuIndex {
        display: block;
    }

    .heroArticle {
        width: 70%;
        padding: 0 15% 0 15%;
    }

    .sideArticle {
        /* Positionierung über CSS-Variablen für flexible Gestaltung */
        top: 50%;
        left: var(--posX, 0%);
        transform: translate(-50%, calc(-50% + var(--y, 0px))) rotate(var(--rot, 0deg));

        width: 25%;
        max-width: none;
        margin: 0;
    }

    #headerMenu {
        flex-direction: row;
        justify-content: flex-end;
        gap: 4vw;
    }
}